Repository fluxcd/helm-operator, pull requests merged in 2020-03, with the labels that each got.

#326 status: unset rolledback cond on released=true
  pkg/release/release.go
  pkg/status/conditions.go
Labels: bug

#328 Added hostAliases to deployment template
  chart/helm-operator/README.md
  chart/helm-operator/templates/deployment.yaml
  chart/helm-operator/values.yaml
Labels: chart

#330 Update helm deletion docs for helm 3
  docs/faq.md
Labels: docs

#332 Move to mkdocs
  .circleci/config.yml
  .github/workflows/check-links.yaml
  .gitignore
  .readthedocs.yaml
  Makefile
  README.md
  docs/Dockerfile
  docs/Makefile
  docs/_static/custom.css
  docs/conf.py
  docs/faq.md
  docs/helmrelease-guide/chart-sources.md
  docs/helmrelease-guide/introduction.md
  docs/helmrelease-guide/reconciliation-and-upgrades.md
  docs/helmrelease-guide/release-configuration.md
  docs/helmrelease-guide/rollbacks.md
  docs/helmrelease-guide/values.md
  docs/how-to/upgrade-to-beta.md
  docs/how-to/upgrade-to-ga.md
  docs/index.md
  docs/references/helmrelease-custom-resource.md
  docs/references/operator.md
  docs/requirements.txt
  docs/tutorials/get-started-kustomize.md
  docs/tutorials/get-started.md
  mkdocs.yml
Labels: docs

#340 build: update `known_hosts` for `gitsrv`
  test/e2e/fixtures/known_hosts
Labels: build

#341 e2e: update `gitsrv` to `v1.0.0`
  test/e2e/10_helm_chart.bats
  test/e2e/15_upgrade.bats
  test/e2e/20_rollbacks.bats
  test/e2e/25_max_history.bats
  test/e2e/30_values_from.bats
  test/e2e/35_skip_crds.bats
  test/e2e/fixtures/known_hosts
  test/e2e/fixtures/kustom/base/gitsrv/gitsrv.yaml
  test/e2e/lib/env.bash
  test/e2e/lib/install.bash
Labels: build

#343 docs: fix add Helm chart example
  chart/helm-operator/README.md
Labels: chart, docs

#334 release: record release phases
  Makefile
  README.md
  chart/helm-operator/crds/helmrelease.yaml
  cmd/helm-operator/main.go
  deploy/crds.yaml
  docs/helmrelease-guide/debugging.md
  docs/index.md
  docs/references/helmrelease-custom-resource.md
  docs/references/monitoring.md
  go.mod
  go.sum
  pkg/apis/helm.fluxcd.io/v1/types_helmrelease.go
  pkg/helm/utils.go
  pkg/helm/v2/get.go
  pkg/helm/v2/helm.go
  pkg/helm/v2/history.go
  pkg/helm/v2/repository.go
  pkg/helm/v2/upgrade.go
  pkg/helm/v3/get.go
  pkg/helm/v3/history.go
  pkg/helm/v3/repository.go
  pkg/helm/v3/rollback.go
  pkg/helm/v3/uninstall.go
  pkg/helm/v3/upgrade.go
  pkg/install/generated_templates.gogen.go
  pkg/install/templates/crds.yaml.tmpl
  pkg/operator/metrics.go
  pkg/operator/operator.go
  pkg/release/annotator.go
  pkg/release/errors.go
  pkg/release/metrics.go
  pkg/release/release.go
  pkg/release/values.go
  pkg/release/values_test.go
  pkg/status/conditions.go
  pkg/status/status.go
  test/e2e/15_upgrade.bats
  test/e2e/20_rollbacks.bats
  test/e2e/25_max_history.bats
  test/e2e/30_values_from.bats
  test/e2e/lib/install.bash
  test/e2e/lib/poll.bash
  test/e2e/run.bash
Labels: enhancement
