Repository fluxcd/helm-operator, pull requests merged in 2020-02, with the labels that each got.

#269 Make sure we test all the local modules
  Makefile
Labels: build

#276 chart: support Helm (getter) plugin init containers
  chart/helm-operator/README.md
  chart/helm-operator/templates/_helpers.tpl
  chart/helm-operator/templates/deployment.yaml
  chart/helm-operator/values.yaml
  docker/Dockerfile.helm-operator
Labels: build, chart

#287 chart: use Helm v3 CRD approach with backwards compatibility for v2
  Makefile
  chart/helm-operator/crds/helmrelease.yaml
  chart/helm-operator/templates/crd.yaml
Labels: chart

#291 helm/v3: add release name to log context for internal Helm logs
  pkg/helm/v3/get.go
  pkg/helm/v3/helm.go
  pkg/helm/v3/history.go
  pkg/helm/v3/rollback.go
  pkg/helm/v3/uninstall.go
  pkg/helm/v3/upgrade.go
Labels: enhancement, helm v3

#289 build: adding generate-go step to Makefile
  Makefile
Labels: build

#290 build: limit e2e parallel jobs to 2
  .circleci/config.yml
  test/e2e/lib/install.bash
  test/e2e/run.bash
Labels: build

#296 docs: highlight standalone usage in `README.md`
  README.md
Labels: docs

#295 docs: document usage of downloader plugins
  chart/helm-operator/README.md
  docs/references/helmrelease-custom-resource.md
Labels: docs

#300 pkg: update Helm to `v3.1.0-scheme-patched`
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Labels: build

#302 chart: release v0.7.0
  chart/helm-operator/CHANGELOG.md
  chart/helm-operator/Chart.yaml
Labels: chart

#305 Update for Helm 3 on OSX using Library
  docs/references/helmrelease-custom-resource.md
Labels: docs
