Repository fluxcd/helm-operator, pull requests merged in 2020-04, with the labels that each got.

#353 Tune chart defaults for production use
  chart/helm-operator/README.md
  chart/helm-operator/values.yaml
Labels: chart

#356 fix broken links
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/index.md
Labels: docs

#358 Add missing v1 in apiVersion
  chart/helm-operator/README.md
Labels: docs

#357 chart: add note about `--skip-crds` for Helm 3
  chart/helm-operator/README.md
Labels: chart

#360 e2e: use binary of targeted Helm version in tests
  test/e2e/15_upgrade.bats
  test/e2e/20_rollbacks.bats
  test/e2e/25_max_history.bats
  test/e2e/lib/helm.bash
  test/e2e/lib/install.bash
Labels: build

#367 Release Helm chart 1.0.0
  chart/helm-operator/CHANGELOG.md
  chart/helm-operator/Chart.yaml
  chart/helm-operator/values.yaml
Labels: chart

#372 release: do not swallow dependency update errors
  pkg/release/release.go
Labels: bug

#373 chart: revert default memory limit
  chart/helm-operator/README.md
  chart/helm-operator/values.yaml
Labels: chart

#384 docs: improve monitoring documentation
  docs/references/monitoring.md
Labels: docs

#382 release: keep track of last attempted revision
  chart/helm-operator/crds/helmrelease.yaml
  deploy/crds.yaml
  docs/references/helmrelease-custom-resource.md
  pkg/apis/helm.fluxcd.io/v1/types_helmrelease.go
  pkg/helm/helm.go
  pkg/helm/options.go
  pkg/helm/v2/get.go
  pkg/helm/v3/get.go
  pkg/install/generated_templates.gogen.go
  pkg/install/templates/crds.yaml.tmpl
  pkg/release/release.go
  pkg/status/conditions.go
  pkg/status/status.go
  test/e2e/15_upgrade.bats
Labels: bug, enhancement

#386 build: update Go to 1.14.x
  .circleci/config.yml
  Makefile
  docs/contributing/building.md
  go.mod
  hack/go_container.sh
  hack/update/deps.sh
  hack/update/generate-crds.sh
  pkg/install/go.mod
Labels: build

#385 release: reset recorded failure cond on dry-run
  pkg/apis/helm.fluxcd.io/v1/types_helmrelease.go
  pkg/release/release.go
Labels: bug

#347 Fix link-checking and a number of links
  .github/workflows/check-links.yaml
  .github/workflows/markdown-link-check-config.json
  CONTRIBUTING.md
  README.md
  chart/helm-operator/crds/helmrelease.yaml
  deploy/crds.yaml
  docs/helmrelease-guide/automation.md
  docs/references/helmrelease-custom-resource.md
  docs/requirements.txt
  go.mod
  go.sum
  mkdocs.yml
  pkg/apis/helm.fluxcd.io/v1/types_helmrelease.go
  pkg/install/generated_templates.gogen.go
  pkg/install/templates/crds.yaml.tmpl
Labels: docs
