Repository fluxcd/helm-operator, pull requests merged in 2020-05, with the labels that each got.

#401 Add `priorityClassName` value to Helm Operator
  chart/helm-operator/README.md
  chart/helm-operator/templates/deployment.yaml
  chart/helm-operator/values.yaml
Labels: chart

#402 [Chart] Stopping ClusterRole/ClusterRoleBinding keep created when it shouldn't
  chart/helm-operator/templates/rbac-role.yaml
  chart/helm-operator/templates/rbac.yaml
  chart/helm-operator/values.yaml
Labels: chart

#400 Fix e2e tests on MacOS.
  test/e2e/15_upgrade.bats
Labels: build

#399 Imply release failure upon chart fetch failure
  pkg/status/conditions.go
Labels: bug

#421 Allow selecting cross-namespace secrets for Git chart source credentials
  chart/helm-operator/crds/helmrelease.yaml
  deploy/crds.yaml
  docs/references/helmrelease-custom-resource.md
  pkg/apis/helm.fluxcd.io/v1/types.go
  pkg/apis/helm.fluxcd.io/v1/types_helmrelease.go
  pkg/apis/helm.fluxcd.io/v1/zz_generated.deepcopy.go
  pkg/chartsync/git.go
  pkg/install/generated_templates.gogen.go
  pkg/install/templates/crds.yaml.tmpl
Labels: enhancement

#419 Remove tabs from chart docs
  chart/helm-operator/README.md
  mkdocs.yml
Labels: docs

#422 helm/v3: garbage collect anonymous index files
  pkg/helm/v3/dependency.go
Labels: bug

#397 Make probes configurable in the operator deployment manifest
  chart/helm-operator/templates/deployment.yaml
  chart/helm-operator/values.yaml
Labels: chart

#431 Set `release_condition_info` labels properly
  pkg/status/metrics.go
Labels: bug

#430 Upgrade version of example redis chart due to errors installing the 9.0.2 version of the chart.
  chart/helm-operator/templates/NOTES.txt
Labels: chart

#429 Fix `HelmReleaseError` alert rule expression
  docs/references/monitoring.md
Labels: docs

#434 Migrate chart publishing to GitHub Actions
  .circleci/config.yml
  .github/workflows/chart-release.yml
Labels: build

#435 Release Helm chart 1.1.0
  chart/helm-operator/CHANGELOG.md
  chart/helm-operator/Chart.yaml
Labels: chart
