Repository fluxcd/helm-operator, pull requests merged in 2020-01, with the labels that each got.

#178 e2e: fix flakiness of various tests
  .circleci/config.yml
  test/e2e/15_upgrade.bats
  test/e2e/lib/install.bash
  test/e2e/run.bash
Labels: build

#180 e2e: fix authentication issue on `git clone`
  test/e2e/lib/install.bash
Labels: build

#183 chart: support configuration of cert files for repositories
  chart/helm-operator/templates/_helpers.tpl
  chart/helm-operator/values.yaml
Labels: chart

#173 chart: configure Helm v3 repositories
  chart/helm-operator/templates/deployment.yaml
Labels: chart

#205 chart: update helm install examples to be zsh friendly
  chart/helm-operator/README.md
Labels: chart

#207 build: Update Kubernetes Kind to v0.7.0
  test/e2e/run.bash
Labels: build

#214 build: upgrade code-generator to Kubernetes 1.16.2
  hack/tools/go.mod
  hack/tools/go.sum
Labels: build

#221 docs: Update FAQ on Flux GC
  docs/faq.md
Labels: docs

#229 chart: Allow pod annotations, labels and account annotations to be set
  chart/helm-operator/README.md
  chart/helm-operator/templates/deployment.yaml
  chart/helm-operator/templates/serviceaccount.yaml
  chart/helm-operator/values.yaml
Labels: chart

#234 Build: make pkg/install a Go module to reduce its dependencies
  go.mod
  pkg/install/go.mod
  pkg/install/go.sum
Labels: build
