Repository fluxcd/helm-operator, pull requests merged in 2020-06, with the labels that each got.

#438 Correcting README.md for helm chart documentation for resource limits
  chart/helm-operator/README.md
Labels: chart

#442 docs: replace v1.13 API reference URLs with v1.18
  docs/references/helmrelease-custom-resource.md
  hack/crd-reference-doc-gen/config.json
  hack/tools/go.mod
  hack/tools/go.sum
Labels: docs

#439 Add locking to release sync process
  internal/lockedfile/internal/filelock/filelock.go
  internal/lockedfile/internal/filelock/filelock_unix.go
  internal/lockedfile/lockedfile.go
  internal/lockedfile/lockedfile_filelock.go
  internal/lockedfile/mutex.go
  pkg/release/release.go
Labels: bug

#441 Roll deployment on update known_hosts
  chart/helm-operator/templates/deployment.yaml
Labels: chart

#451 Align Helm chart README and values.yaml
  chart/helm-operator/README.md
  chart/helm-operator/values.yaml
Labels: chart

#471 Allow installs to proceed if no v2 and v3 release exists during migration
  pkg/helm/v3/converter.go
  pkg/release/release.go
  test/e2e/45_convert_2to3.bats
  test/e2e/fixtures/releases/convert-2to3-v3-upgrade.yaml
Labels: bug
