Repository fluxcd/helm-operator, pull requests merged in 2021-02, with the labels that each got.

#588 Point to flux2 from our docs
  docs/index.md
  docs/requirements.txt
Labels: docs

#589 Update Alpine to 3.13
  docker/Dockerfile.helm-operator
Labels: build

#551 fix: make passing gitconfig as a value optional
  chart/helm-operator/README.md
  chart/helm-operator/templates/gitconfig.yaml
  chart/helm-operator/values.yaml
Labels: chart

#521 Default kubeconfig to None in chart
  chart/helm-operator/values.yaml
Labels: chart

#564 Add `terminationGracePeriodSeconds` value to Helm Operator Chart
  chart/helm-operator/README.md
  chart/helm-operator/templates/deployment.yaml
  chart/helm-operator/values.yaml
  docs/helmrelease-guide/release-configuration.md
  docs/helmrelease-guide/rollbacks.md
Labels: chart

#590 Make docs v1 warning global
  docs/index.md
  docs_theme_override/main.html
  mkdocs.yml
Labels: docs
